{% extends 'base.html.twig' %}

{% block title %} Ajout sous-catégorie{% endblock %}

{% block body %}
    <h1>Ajouter une sous-catégorie</h1>

    {{ include('sub_category/_form.html.twig') }}

    <a href="{{ path('app_sub_category_index') }}">Retour</a>
{% endblock %}
